/* General style */
header {
  background-color: rgb(34, 0, 51); 
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
}

header h1 {
  font-family: 'Old English Text MT', fantasy;
  letter-spacing: 2.5px;
  font-weight: lighter;
  color: rgb(221, 221, 221);
  margin-top: 10px;
}

body {
  background-color: rgb(45, 40, 45);
  color: rgb(230, 230, 230);
}

main {
  width: 100%;
  background-color: rgb(25, 25, 25);
  font-family: "Garamond", serif;
}

main h2 {
  background-color: rgb(58, 0, 80);
  color: rgb(200, 200, 200);
  text-align: center;
}

/* antique lined pages */
article {
  padding: 10px;
  background: repeating-linear-gradient(
    rgb(20, 20, 20), rgb(20, 20, 20) 25px,
    rgb(70, 0, 100) 26px, rgb(70, 0, 100) 27px
  );
}

article p {
  position: relative;
  top: 10px;
  font-size: 18px;
  margin: 0 20px;
  line-height: 27px;
}

article h3 {
  background-color: rgb(48, 0, 75);
  color: rgb(192, 192, 192);
  padding-right: 10px;
  text-align: end;
}

/* Navbar */
.navbar-brand:hover {
  border-radius: 10px;
  background-color: rgb(80, 0, 80);
  color: rgb(221, 221, 221);
  width: 35px;
  height: 35px;
  display: flex;
  align-content: center;
}

.nav-item:hover {
  border-radius: 10px;
  background-color: rgb(80, 0, 80);
  color: rgb(221, 221, 221);
}

/* Pulsanti */
button.btn, button.btn:active, button.btn:target, input[type=submit] {
  background-color: rgb(48, 0, 75); /* Viola scuro */
  color: rgb(192, 192, 192); /* Argento */
  border-color: rgb(100, 0, 150); /* Bordo viola più acceso */
}

button.btn:hover, button.btn:hover:active, button.btn:focus, button.btn:active:focus {
  background-color: rgb(100, 0, 150);
  color: rgb(48, 0, 75);
  border-color: rgb(192, 192, 192);
}

/* Form e input */
form {
  width: 70%;
  margin: 20px;
  padding: 5%;
  box-shadow: 10px 10px rgb(48, 0, 75);
  border: solid rgb(100, 0, 150) 2px;
}

form button {
  margin-left: 85%;
}

#title {
  width: 300px;
}

textarea {
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: rgb(230, 230, 230);
  border: 1px solid rgb(100, 0, 150);
}

.form-label {
  font-size: large;
  display: block;
  color: rgb(192, 192, 192);
}