{% extends('base.html') %}
{% block header %}
{% endblock %}

{% block content %}
<!-- h2s are months, h3 titles/dates -->
    <h2>Month</h2>
    <article>
      <h3>Day</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus placeat veritatis quo reprehenderit suscipit omnis inventore
        ipsum provident ipsa, sequi sapiente, expedita fugiat, aliquam assumenda asperiores voluptate enim perspiciatis porro.
      </p>
    </article>
    <article>
      <h3>Day</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga, numquam labore exercitationem debitis maiores libero error
        officia doloremque optio atque? Id consequatur sequi eveniet dolore libero veniam reiciendis modi.
      </p>
    </article>
  </main>
{% endblock %}
