{% extends('base.html') %}
{% block header %}
{% endblock %}

{% block content %}
  <div class="grimoire-page-box">
    <div class="grimoire-header">
      <div>
        <h2>{{ page.title }}</h2>
        <h3>{{ page.date }}</h3>
      </div>
    </div>
    <article>
      <p>
        {{ page.text }}
      </p>
      <p class="grimoire-author">
        Written by: {{ author_name }}
      </p>
    </article>
    <div class="grimoire-actions">
      <a href="{{ url_for('page_edit', id=page.id) }}" class="btn btn-primary">Edit</a>
      <a href="{{ url_for('delete', id=page.id) }}" class="btn btn-danger">Delete</a>
    </div>
  </div>
{% endblock %}