{% extends('base.html') %}
{% block header %}
{% endblock %}

{% block content %}
<form>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input name="date"  type="date" id="date">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Text</label>
      <textarea rows= "15" cols="60"></textarea> <br>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
